rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {

      allow create: if request.auth != null && request.auth.uid == userId;

      allow get, update, delete:
        if request.auth != null && request.auth.uid == userId;

      match /notes/{noteId} {

        allow create:
          if request.auth != null && request.auth.uid == userId;

        allow get, list:
          if request.auth != null;

        allow update, delete:
          if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}